@model Hst.Model.ViewModels.UserModel;
@{
    ViewData["Title"] = "GenerateOTP";
}

<h2>LOGIN USING MOBILE NUMBER</h2>
<form>
    @using (Html.BeginForm("GenerateOTP", "Account", FormMethod.Post))

    {
           <div class="form-group">
            @Html.TextBoxFor(model => model.Mobile)

            <button class="btn-success">Sent OTP</button>
            </div>
            }
    </form>

