@model Hst.Voter.ViewModels.UserViewModel;
@{
    ViewData["Title"] = "GenerateOTP";
}

@{
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form method="post" asp-controller="Account" aspcontroller="Login" class="box">
                        <h1>Login</h1>
                        <p class="text-muted">An OTP will be sent to your mobile number for verification</p>
                        <input asp-for="MobileNo" placeholder="Enter Mobile Number" />
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                        <button type="submit">
                            @*@Html.ActionLink("OTP", "VerifyOTP", "Account", null, null)*@
                            <a asp-controller="account" asp-action="verifyotp">Send OTP</a>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script href="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>

















