@model Hst.Model.ViewModels.UserModel;
@{
    ViewData["Title"] = "GenerateOTP";
}

<h2>LOGIN USING MOBILE NUMBER</h2>
<form method="post" asp-controller="Account" aspcontroller="Login">
    <div>
        <label asp-for="Mobile"></label>
        <input asp-for="Mobile" />
        <span asp-validation-for="Mobile"></span>
    </div>
    <input type="submit" value="Send OTP" />
</form>
